.opinions {

    &__heading {
        text-align: center;
        color: $white;
        font-size: 2.5rem;
    }

    &__content {
        border: 2px solid $white;
        background-color: $white;
        color: $purple;
        border-radius: 5px;
        text-align: center;
        font-size: 1.6rem;
        padding: 3rem 5rem;
    }

    &__dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    &__dot {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $purple-300;

        &:hover {
            background-color: $purple-600;
            cursor: pointer;
        }

        &--active {
            background-color: $purple-800;
        }
    }
}